Repository PaddlePaddle/docs, pull requests merged in 2018-12, with the labels that each got.

#399 Add sparse update API guide.
  doc/fluid/api/api_guides/low_level/layers/index.rst
  doc/fluid/api/api_guides/low_level/layers/sparse_update.rst
Labels: API Guide

#401 update save load variables doc
  doc/fluid/user_guides/howto/training/save_load_variables.rst
Labels: 使用文档

#400 Add async train doc
  doc/fluid/api/api_guides/index.rst
  doc/fluid/api/api_guides/low_level/distributed/async_training.rst
  doc/fluid/api/api_guides/low_level/distributed/cpu_train_best_practice.rst
  doc/fluid/api/api_guides/low_level/distributed/index.rst
  doc/fluid/api/api_guides/low_level/distributed/large_scale_sparse_feature_training.rst
Labels: API Guide

#415 Windows/support
  doc/fluid/beginners_guide/install/compile/compile_Windows.md
  doc/fluid/beginners_guide/install/compile/fromsource.rst
  doc/fluid/beginners_guide/install/install_Windows.md
  doc/fluid/user_guides/howto/inference/windows_cpp_inference.md
Labels: 安装文档

#420 update build_and_install for inference
  doc/fluid/user_guides/howto/inference/build_and_install_lib_cn.rst
Labels: 使用文档

#424 update_api_doc
  doc/fluid/api/fluid.rst
  doc/fluid/api/layers.rst
  doc/fluid/api/optimizer.rst
Labels: API Reference

#375 update Anakin doc for v1.2
  doc/fluid/advanced_usage/deploy/anakin_gpu_benchmark.md
  doc/fluid/advanced_usage/deploy/anakin_tutorial.md
  doc/fluid/advanced_usage/deploy/index_anakin.rst
  doc/fluid/advanced_usage/pics/int8_design.png
Labels: 使用文档

#398 fix python35 on ubt18.04
  doc/fluid/beginners_guide/install/compile/compile_Ubuntu.md
  doc/fluid/beginners_guide/install/install_Ubuntu.md
Labels: 安装文档

#334 Delete param_attr in docs
  doc/fluid/api/gen_doc.sh
Labels: API Reference, 文档管理

#418 update install_doc for python3
  doc/fluid/beginners_guide/install/compile/compile_CentOS.md
  doc/fluid/beginners_guide/install/compile/compile_MacOS.md
  doc/fluid/beginners_guide/install/compile/compile_Ubuntu.md
  doc/fluid/beginners_guide/install/install_CentOS.md
  doc/fluid/beginners_guide/install/install_MacOS.md
  doc/fluid/beginners_guide/install/install_Ubuntu.md
Labels: 安装文档

#455 1207 api 翻译
  doc/fluid/api_cn/average_cn.rst
  doc/fluid/api_cn/backward_cn.rst
  doc/fluid/api_cn/clip_cn.rst
  doc/fluid/api_cn/data_feeder_cn.rst
  doc/fluid/api_cn/executor_cn.rst
  doc/fluid/api_cn/fluid_cn.rst
  doc/fluid/api_cn/initializer_cn.rst
  doc/fluid/api_cn/io_cn.rst
  doc/fluid/api_cn/layers_cn.rst
  doc/fluid/api_cn/metrics_cn.rst
  doc/fluid/api_cn/nets_cn.rst
  doc/fluid/api_cn/optimizer_cn.rst
  doc/fluid/api_cn/param_attr_cn.rst
  doc/fluid/api_cn/profiler_cn.rst
  doc/fluid/api_cn/recordio_writer_cn.rst
  doc/fluid/api_cn/regularizer_cn.rst
  doc/fluid/api_cn/transpiler_cn.rst
Labels: API Translation

#482 1211 update api cn layers
  doc/fluid/api_cn/layers_cn.rst
Labels: API Translation

#491 update api_guide for backward
  doc/fluid/api_cn/api_guides/low_level/backward.rst
Labels: API Guide

#503 update program/block/op/variable api_guide
  doc/fluid/api_cn/api_guides/low_level/layers/control_flow.rst
  doc/fluid/api_cn/api_guides/low_level/program.rst
Labels: API Guide
