Repository PaddlePaddle/docs, pull requests merged in 2018-11, with the labels that each got.

#266 Fix deadlink in Developer's_Guide_to_Paddle_Fluid.md
  doc/fluid/getstarted/Developer's_Guide_to_Paddle_Fluid.md
Labels: 其他文档

#273 Refine name of several docs
  doc/fluid/api/api_guides/index.rst
  doc/fluid/api/api_guides/low_level/layers/index.rst
  doc/fluid/user_guides/howto/prepare_data/lod_tensor.md
Labels: 文档管理

#278 update mobile doc
  doc/fluid/advanced_usage/deploy/index_mobile.rst
  doc/fluid/advanced_usage/deploy/mobile_dev.md
  doc/fluid/advanced_usage/deploy/mobile_readme.md
Labels: 使用文档

#287 add cn index for api
  doc/fluid/api/index_cn.rst
Labels: 文档管理

#281 First 15 translation
  doc/fluid/api/fluid_cn.rst
  doc/fluid/api/layers_cn.rst
Labels: API Translation

#282 wh-1105API translation
  doc/fluid/api/executor_cn.rst
  doc/fluid/api/fluid_cn.rst
  doc/fluid/api/layers_cn.rst
  doc/fluid/api/param_attr_cn.rst
  doc/fluid/api/transpiler_cn.rst
Labels: API Translation

#326 Add api in index again
  doc/fluid/index_cn.rst
  doc/fluid/index_en.rst
Labels: 文档管理

#330 Fix internal links
  doc/fluid/beginners_guide/install/Start.rst
Labels: 安装文档

#320 API guide 复杂网络
  doc/fluid/api/api_guides/low_level/nets.rst
Labels: API Guide

#339 add more compile option and remove additional mac path seting
  doc/fluid/beginners_guide/install/Tables.md
  doc/fluid/beginners_guide/install/install_MacOS.md
Labels: 安装文档

#347 Polish how to commit
  doc/fluid/advanced_usage/development/contribute_to_paddle/img/cla_unsigned.png
  doc/fluid/advanced_usage/development/contribute_to_paddle/img/sign_cla.png
  doc/fluid/advanced_usage/development/contribute_to_paddle/index_cn.rst
  doc/fluid/advanced_usage/development/contribute_to_paddle/local_dev_guide.md
  doc/fluid/advanced_usage/development/contribute_to_paddle/submit_pr_guide.md
  doc/fluid/advanced_usage/index.rst
Labels: 使用文档

#342 Fix #293: Add Learning rate scheduler api_guide
  doc/fluid/api/api_guides/low_level/layers/learning_rate_scheduler.rst
  doc/fluid/images/learning_rate_scheduler.png
Labels: API Guide

#358 [develop]add_PPO_clue_in_download_link
  doc/fluid/beginners_guide/install/Tables.md
Labels: 安装文档

#365 adjust_checkpoint_doc
  doc/fluid/user_guides/howto/training/save_load_variables.rst
  doc/fluid/user_guides/howto/training/single_node.rst
Labels: 使用文档

#329 Add data feeder api guide
  doc/fluid/api/api_guides/low_level/layers/data_feeder.rst
  doc/fluid/api/api_guides/low_level/layers/data_in_out.rst
Labels: API Guide

#352 add tensor guide
  doc/fluid/api/api_guides/low_level/layers/tensor.rst
Labels: API Guide

#379 refine trt doc
  doc/fluid/user_guides/howto/inference/native_infer.md
  doc/fluid/user_guides/howto/inference/paddle_tensorrt_infer.md
Labels: 使用文档

#394 Add API guide for parameter.
  doc/fluid/api/api_guides/index.rst
  doc/fluid/api/api_guides/low_level/parameter.rst
Labels: API Guide

#397 add memory_optimize.rst
  doc/fluid/api/api_guides/low_level/memory_optimize.rst
Labels: API Guide

#344 XX 1-2 50
  layers_cn.rst
Labels: API Translation

#371 WH-1-25 reviewed on webpages
  doc/fluid/api/data_feeder_cn.rst
  doc/fluid/api/executor_cn.rst
  doc/fluid/api/fluid_cn.rst
  doc/fluid/api/layers_cn.rst
  doc/fluid/api/param_attr_cn.rst
  doc/fluid/api/transpiler_cn.rst
Labels: API Translation

#384 dh-1 previously merged and reviewed on webpages
  doc/fluid/api/fluid_cn.rst
  doc/fluid/api/layers_cn.rst
Labels: API Translation

#319 DH-2-16
  doc/fluid/api/layers_cn.rst
Labels: API Translation

#393 cluster train data
  .gitignore
  doc/fluid/api/api_guides/low_level/cluster/cluster_train_data_cn.rst
Labels: API Guide
