Repository PaddlePaddle/docs, pull requests merged in 2019-03, with the labels that each got.

#663 Update cn api to 1.3
  doc/fluid/api_cn/clip_cn.rst
  doc/fluid/api_cn/executor_cn.rst
  doc/fluid/api_cn/fluid_cn.rst
  doc/fluid/api_cn/layers_cn.rst
  doc/fluid/api_cn/optimizer_cn.rst
  doc/fluid/api_cn/profiler_cn.rst
Labels: API Translation

#673 add dataset api_cn
  doc/fluid/api_cn/data/dataset_cn.rst
  doc/fluid/api_cn/index_cn.rst
Labels: API Translation

#676 add data_reader_cn
  doc/fluid/api_cn/data/data_reader_cn.rst
  doc/fluid/api_cn/index_cn.rst
Labels: API Translation

#677 [Important] Add book indexes
  doc/fluid/beginners_guide/basics/image_classification/index_en.md
  doc/fluid/beginners_guide/basics/index_en.rst
  doc/fluid/beginners_guide/basics/label_semantic_roles/index_en.md
  doc/fluid/beginners_guide/basics/machine_translation/index_en.md
  doc/fluid/beginners_guide/basics/recommender_system/index_en.md
  doc/fluid/beginners_guide/basics/understand_sentiment/index_en.md
  doc/fluid/beginners_guide/basics/word2vec/index_en.md
  doc/fluid/beginners_guide/index_en.rst
  doc/fluid/beginners_guide/quick_start/fit_a_line/README.md
  doc/fluid/beginners_guide/quick_start/index_en.rst
  doc/fluid/beginners_guide/quick_start/recognize_digits/README.md
Labels: Translation, 使用文档, 定稿

#509 1220 improve cnapi
  doc/fluid/api_cn/layers_cn.rst
Labels: API Translation

#695 Fix arguments according to 1.3 en + ceil,floor 翻译 +operator 翻译
  doc/fluid/api_cn/executor_cn.rst
  doc/fluid/api_cn/fluid_cn.rst
  doc/fluid/api_cn/initializer_cn.rst
  doc/fluid/api_cn/layers_cn.rst
  doc/fluid/api_cn/optimizer_cn.rst
Labels: 中文API优化

#696 add api_guides low_level backward parameter program_en
  doc/fluid/api_guides/index.rst
  doc/fluid/api_guides/index_en.rst
  doc/fluid/api_guides/low_level/backward_en.rst
  doc/fluid/api_guides/low_level/parameter.rst
  doc/fluid/api_guides/low_level/parameter_en.rst
  doc/fluid/api_guides/low_level/program_en.rst
Labels: Translation, 使用文档

#701 add deploy ctr doc on baidu cloud
  doc/fluid/user_guides/howto/training/deploy_ctr_on_baidu_cloud_cn.rst
  doc/fluid/user_guides/howto/training/src/ctr_kubectl_download.png
  doc/fluid/user_guides/howto/training/src/ctr_node.png
  doc/fluid/user_guides/howto/training/src/ctr_pods.png
  doc/fluid/user_guides/howto/training/src/ctr_pserver_log.png
  doc/fluid/user_guides/howto/training/src/ctr_trainer_log.png
Labels: tobe-toctreed

#729 fix conv3d Chinese
  doc/fluid/api_cn/layers_cn.rst
Labels: 中文API优化
